{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="container">
        <form action="?view={{ view }}" method="post">
            <label>{% trans "The declaration:" %}</label>
            <div class="fallacy-declaration">
                <p>{{ declaration.text }}</p>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Report Fallacy" %}" class="submit">
        </form>
    </section>
{% endblock %}