{% load i18n %}
{% for resolution in resolutions %}
    <li>
        <div class="stats">
            <span class="because">{{ resolution.because.count }} {% trans "because" %}</span>
            <span class="but">{{ resolution.but.count }} {% trans "but" %}</span>
            <span class="however">{{ resolution.however.count }} {% trans "however" %}</span>
        </div>
        <div class="info">
            <a class="main-resolution" href="{{ resolution.get_absolute_url }}">{{ resolution.title }}</a>
            {#<div class="user">{% trans "sender:" %} <a href="{% url "auth_profile" resolution.user.username %}">{{ resolution.user }}</a></div>#}
            <div class="user">{% trans "sender:" %} <a href="">{{ resolution.user }}</a></div>
        </div>
    </li>
{% endfor %}
