{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load gravatar %}

{% block title %}{{ noun }}{% endblock %}

{% block content %}
<div class="container">
    <div class="noun-tree">
        <h3>{{ noun }}</h3>
        <ul class="relations">
            {% for relation in noun.out_relations.all %}
            <li class="{{ relation.relation_type }} relation">
                <span>{{ relation.relation_type_label }}</span>
                <a href="{{ relation.target.get_absolute_url }}">{{ relation.target }}</a>
                {% if relation.user %}
                    <a class="sender" href="{{ relation.user.get_absolute_url }}">{% gravatar relation.user 20 %}</a>
                {% endif %}
                {% if relation.target.hyponyms.exists %}
                <ul class="hyponyms">
                    {% for hyponym in relation.target.hyponyms.all %}
                    {% if hyponym.source != noun %}
                    <li><a href="{{ hyponym.source.get_absolute_url }}">{{ hyponym.source }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
            {% for relation in noun.in_relations.all %}
            {% if relation.relation_type != "antonym" %}
            <li class="{{ relation.reverse_type }} relation">
                <span>{{ relation.get_reverse_type_display }}</span>
                <a href="{{ relation.source.get_absolute_url }}">{{ relation.source }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="create relation"><a href="{% url "new_relation" noun.slug %}">{% trans "add new relation" %}</a></li>
        </ul>
        <ul class="resolutions relations">
            {% for resolution in noun.active_resolutions.all %}
            <li class="resolution relation">
                <a class="resolution-link" href="{% url "resolution_detail" resolution.slug %}">{{ resolution.title }}</a>
                <ul class="resolution-stats">
                    <li>
                    <a href="{{ resolution.user.get_absolute_url }}">@{{ resolution.user }}</a> {{ resolution.date_creation|naturaltime }}
                    </li>
                </ul>
            </li>
            {% endfor %}
            <li class="create relation"><a href="{% url "new_resolution" %}">{% trans "create a resolution" %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}