{% load i18n %}
<h3>{{ noun }}</h3>
<ul class="relations">
{% for relation in noun.out_relations.all %}
<li class="{{ relation.relation_type }} relation">
    <span>{{ relation.relation_type_label }}</span>
    <a href="{{ relation.target.get_absolute_url }}">{{ relation.target }}</a>
</li>
{% endfor %}
{% if not noun.out_relations.exists  %}
<li class="create relation"><a href="{% url "new_relation" noun.slug %}">{% trans "add new relation" %}</a></li>
{% endif %}
</ul>

{% if resolutions.exists or indirect_resolutions.exists %}
<h3>{% trans "Resolutions" %}</h3>
<ul class="resolutions relations">
    {% for resolution in resolutions|slice:":3" %}
    <li class="resolution relation">
        <a class="resolution-link" href="{% url "resolution_detail" resolution.slug %}">{{ resolution.title }}</a>
    </li>
    {% endfor %}
    {% for resolution in indirect_resolutions|slice:":3" %}
    <li class="resolution relation">
        <a class="resolution-link" href="{% url "resolution_detail" resolution.slug %}">{{ resolution.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}