{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans "United Nations Project. Aggregate and analyze data from the United Nations." %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% trans "UN Data analysis and mapping platform" %}{% endblock %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static "css/h5bp.css" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}?v=3.2.2" />
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link rel="image_src" type="image/png" href="http://un-project.org{% static "img/logo-large.png" %}" />
    <meta property="og:image" content="http://un-project.org{% static "img/logo-large.png" %}"/>
    <meta name="google-site-verification" content="g-YRAePbSzX5_eMCqQvkkYqecMlQNAIxhRXmeAKMmiQ" />
    {% block extra-meta %}{% endblock %}
</head>
<body{% block body-attrs %}{% endblock %}>
{% block header %}
<header class="container">
    {% if announcements.exists %}
    <ul class="announcements">
        {% for announcement in announcements %}
            <li><strong>{% trans "Announcement:" %} </strong> <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="logo">
        <a href="{% if user.is_anonymous %}/{% else %}{% url "newsfeed" %}{% endif %}">
            un-project
            <img src="{% static "img/logo.png" %}" alt=""/></a>
    </div>
    <nav>
        <ul id="site-navigation">
            <li><a href="{% url "about" %}">{% trans "about" %}</a></li>
            <li><a href="{% url "blog" %}">{% trans "blog" %}</a></li>
            {% if user.is_anonymous %}
            <li><a href="{% url "auth_registration" %}">{% trans "register" %}</a></li>
            <li><a href="{% url "auth_login" %}">{% trans "login" %}</a></li>
            {% else %}
            <li><a class="new-resolution-link" href="{% url "new_resolution" %}">{% trans "new resolution" %}</a></li>
            <li><a class="username" href="{% url "auth_profile" user.username %}">{{ user.username|truncatechars:14 }}</a>
                (<a href="{% url "auth_logout" %}">{% trans "logout" %}</a>)</li>
            {% endif %}
            <li class="inline-search pull-right">
                <form action="{% url "resolutions_search" %}">
                    <input type="search" name="keywords" id="keyword" placeholder="{% trans "search keywords" %}">
                </form>
            </li>
            <li class="social-links">
                {% get_current_language as language %}
                {% trans "Languages:" %}
                <a {% if language == "ar" %}class="active" {% endif %}
                    href="http://ar.un-project.org">{% trans "العربية" %}</a>
                <a {% if language == "zh-hans" %}class="active" {% endif %}
                    href="http://ch.un-project.org">{% trans "中文" %}</a>
                <a {% if language == "en" %}class="active" {% endif %}
                    href="http://en.un-project.org">{% trans "English" %}</a>
                <a {% if language == "fr" %}class="active" {% endif %}
                    href="http://fr.un-project.org">{% trans "Français" %}</a>
                <a {% if language == "ru" %}class="active" {% endif %}
                    href="http://ru.un-project.org">{% trans "Русский" %}</a>
                <a {% if language == "es" %}class="active" {% endif %}
                    href="http://es.un-project.org">{% trans "Español" %}</a><br>
                {% trans "Follow on twitter:" %} <a href="https://twitter.com/un_project" target="_blank">@un_project</a> <br />
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p>
            {% blocktrans trimmed %}
                un-project.org is an open-source project. you can follow the
                <a href="http://github.com/un-project">organization</a> on github.
            {% endblocktrans %}
        </p>
        <p>
            <a href="/tos">{% trans "Terms of Service" %}</a> |
            <a href="https://github.com/un-project/un-project.org/issues">{% trans "Feedback" %}</a> |
            <a href="https://paypal.me/unproject">{% trans "Donate" %}</a> |
            <a href="mailto:unproject.org@gmail.com">unproject.org@gmail.com</a>
    </p>
    </div>
</footer>
{% endblock %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/class.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/hipo.infinity-scroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js?v=3.2.2" %}"></script>
{% block extra-scripts %}{% endblock %}

</body>
</html>
