{% extends 'index.html' %}
{% load i18n %}

{% block title %}{% trans "Fallacies" %}{% endblock %}

{% block tab_content %}
<section class="container">
<div class="fallacy-list">
    {% for fallacy in fallacies %}
        <div class="fallacy-report">
            <div class="resolution-stats">
            <h2><a href="{{ fallacy.declaration.get_absolute_url }}">{{ fallacy.declaration.title }}</a></h2>

                <div class="resolution-content {{ fallacy.resolution.resolution_class }}">
                    {{ fallacy.resolution.text }}
                </div>
                <div class="fallacy-reason">
                    <h4>{{ fallacy.get_fallacy_type_display }}</h4>
                    {{ fallacy.reason }}
                    <div class="reporter">
                    <a href="{% url "auth_profile" fallacy.reporter.username %}">{{ fallacy.reporter.username|lower }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if has_next_page %}
    <div class="load-more">
        <a class="next" href="{{ next_page_url }}">{% trans "Load more" %}</a>
    </div>
{% endif %}
</div>
</section>
{% endblock %}

{% block extra-scripts %}
    {% include "infinity-pagination.html" %}
{% endblock %}
