{% load i18n %}

{% include "partials/channel_list.html" %}

{% if user.is_authenticated %}
    {% include "partials/notifications.html" with show_see_more_button=True %}
{% endif %}

<div class="landing">
    {% url "about" as about_url %}
    {% blocktrans trimmed %}
    un-project.org is a <a href="{{ about_url }}">data analysis</a> platform.
    {% endblocktrans %}
    <div class="twitter-share-button">
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="un-project" data-size="large"></a>
    </div>
</div>
